[Desktop Entry]
Categories=Utility;TextEditor;
Comment=Simple and easy to use GXDE editor
Exec=gxde-editor %F
GenericName=Editor
Icon=gxde-editor
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-patch;text/x-adasrc;text/x-chdr;text/x-csrc;text/css;application/x-desktop;text/x-patch;text/x-fortran;text/html;text/x-java;text/x-tex;text/x-makefile;text/x-objcsrc;text/x-pascal;application/x-perl;application/x-perl;application/x-php;text/vnd.wap.wml;text/x-python;application/x-ruby;text/sgml;application/xml;model/vrml;image/svg+xml;application/json;
Name=GXDE Editor
StartupNotify=false
Type=Application
X-GXDE-Vendor=GXDE

# Translations:
# Do not manually modify!
Comment[ar]=محرر ديبين سهل وبسيط الإستخدام
Comment[ast]=Un editor cenciellu y fácil d'usar
Comment[bg]=Елементарен и лесен за използване GXDE редактор
Comment[ca]=Editor del GXDE simple i fàcil d'usar
Comment[cs]=Jednoduchý snadno se používající editor
Comment[da]=Simpel og letanvendelig gxde-editor
Comment[de]=Einfacher, leicht zu bedienender Texteditor für GXDE.
Comment[es]=El editor GXDE simple e intuitivo 
Comment[es_419]=Editor de GXDE, simple y fácil de usar
Comment[fi]=Yksinkertainen ja helppo GXDE editori
Comment[fr]=Éditeur GXDE simple et facile à utiliser
Comment[hu]=Letisztult és könnyen használható GXDE szerkesztő
Comment[id]=Sederhana dan mudah digunakan penyunting GXDE
Comment[it]=E' semplice utilizzare GXDE Editor
Comment[ja]=シンプルで簡単に使える GXDE editor
Comment[ko]=간편하고 쉬운 GXDE 편집기
Comment[lt]=Paprastas ir lengvas naudoti GXDE redaktorius
Comment[ms]=Penyunting GXDE yang ringkas dan mudah digunakan
Comment[ne]=डिपिन संपादक प्रयोग गर्न सरल र सजिलो छ
Comment[nl]=Eenvoudig te gebruiken tekstbewerker
Comment[pl]=Szybki i łatwy w użyciu Edytor GXDE
Comment[pt]=Editor GXDE simples e fácil de usar
Comment[pt_BR]=Editor GXDE simples e fácil de usar
Comment[ru]=Простой и легкий в использовании редактор GXDE
Comment[sk]=Jednuducho a ľahko použiteľný GXDE editor
Comment[sr]=Једноставан и лак за употребу Дипинов уредник
Comment[tr]=Basit ve kullanımı kolay GXDE düzenleyicisi
Comment[uk]=Простий і доступний редактор GXDE
Comment[zh_CN]=简单好用的 GXDE 编辑器
Comment[zh_TW]=簡單易用的 GXDE 編輯器
GenericName[ar]=المحرر
GenericName[ast]=Editor
GenericName[bg]=Редактор
GenericName[ca]=Editor
GenericName[cs]=Editor
GenericName[da]=Editor
GenericName[de]=Editor
GenericName[es]=Editor
GenericName[es_419]=Editor
GenericName[fi]=Editori
GenericName[fr]=Éditeur
GenericName[hu]=Szerkesztő
GenericName[id]=Penyunting
GenericName[it]=Editor
GenericName[ja]=エディター
GenericName[ko]=편집기
GenericName[lt]=Redaktorius
GenericName[ms]=Penyunting
GenericName[ne]=संपादक
GenericName[nl]=Bewerker
GenericName[pl]=Edytor
GenericName[pt]=Editor
GenericName[pt_BR]=Editor
GenericName[ru]=Редактор
GenericName[sk]=Editor
GenericName[sr]=Уредник
GenericName[tr]=Düzenleyici
GenericName[uk]=Редактор
GenericName[zh_CN]=编辑器
GenericName[zh_TW]=編輯器
Name[ar]=محرر ديبين
Name[ast]=GXDE Editor
Name[bg]=GXDE редактор
Name[ca]=Editor del GXDE
Name[cs]=Editor
Name[da]=GXDE editor
Name[de]=GXDE Editor
Name[es]=Editor GXDE
Name[es_419]=Editor GXDE
Name[fi]=GXDE editori
Name[fr]=Éditeur GXDE
Name[hu]=GXDE Szerkesztő
Name[id]=Penyunting GXDE
Name[it]=GXDE Editor
Name[ja]=GXDE Editor
Name[ko]=GXDE 편집기
Name[lt]=GXDE redaktorius
Name[ms]=Penyunting GXDE
Name[ne]=डिपिन संपादक 
Name[nl]=GXDE Bewerker
Name[pl]=Edytor GXDE
Name[pt]=GXDE Editor
Name[pt_BR]=Editor GXDE
Name[ru]=Редактор GXDE
Name[sk]=GXDE Editor
Name[sr]=Дипин Уредник
Name[tr]=GXDE Düzenleyici
Name[uk]=Редактор GXDE
Name[zh_CN]= GXDE 编辑器
Name[zh_TW]=GXDE 編輯器

