Source: gxde-editor
Section: editors
Priority: optional
Maintainer: gfdgd xi <3025613752@qq.com>, Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends:
 debhelper (>= 9),
 cmake, 
 pkg-config, 
 libqt5widgets5, 
 libdtkcore2-dev, 
 libdtkwidget2-dev, 
 qtbase5-dev, 
 libpolkit-qt5-1-dev, 
 libkf5syntaxhighlighting-dev, 
 libkf5codecs-dev, 
 qttools5-dev-tools, 
 qtbase5-private-dev,
 qtwebengine5-dev [i386 amd64 armhf arm64 mips64el]
Standards-Version: 3.9.8
Homepage: https://www.gxde.top

Package: gxde-editor
Architecture: any
Replaces: deepin-editor
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: gxde-daemon (>= 1.2.6)
Description: dtk based text editor
 Advanced text editor based on dtk.
